
@import "./utils/variables";
@import "./base/polices";
@import "./components/buttons";
@import "./layouts/header";
@import "./layouts/section";
@import "./layouts/nav";
@import "./layouts/footer";
*,::before,::after{
    box-sizing: border-box;
}


.animation{
    width: 100px;
    height: 100px;
    border: 10px solid #CCCCCC;
    border-top: 10px solid $primary-color;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spin 1.2s linear;
}


@keyframes spin {
    0% { 
        transform: rotate(0deg);
    }
    100% { 
        transform: rotate(360deg);
    }
}

.loader{
    position: fixed;
    z-index: 10000;
    top:0;
    left:0;
    
    width: 100%;
    height: 100%;
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    animation:fadeout 2s forwards;
    animation-delay: 0.8s;
}

@keyframes fadeout{
    100%{
        opacity: 0;
        z-index: -10;
    }
}
