/*font family*/
a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

/*maps for icons*/
/*media resposive*/
/* flex */
/*Background Color*/
/* Shadows */
/*font color for heart icon*/
body {
  font-family: "Roberto", sans-serif;
  margin: 0;
  font-size: 1.2rem;
}
@media screen and (max-device-width: 760px) {
  body {
    margin: 0;
    font-size: 0.98rem;
  }
}

.footer__title {
  font-family: "Shrikhand", sans-serif, cursive;
  color: #f1f1f1;
}
.footer__deco {
  color: #f1f1f1;
  font-weight: bolder;
}

.button {
  width: 19rem;
  height: 3rem;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 2rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 0.6rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: #f1f1f1;
  cursor: pointer;
  /*transition-duration: .25s;*/
}
.button:hover {
  box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.2);
}

.heart-icon {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.heart-icon__unlike, .heart-icon__like {
  font-size: 2.4rem;
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translateX(0rem);
}
.heart-icon__like {
  opacity: 0;
  transform: translateX(-2.39rem);
}
.heart-icon__like:hover {
  opacity: 1;
  transition: all 0.5s ease;
}
@media screen and (max-device-width: 760px) {
  .heart-icon {
    transform: translateX(5rem);
  }
}

/*main page*/
.header {
  width: auto;
  height: 85px;
  display: flex;
  justify-content: center;
}
.header__logo {
  width: 10rem;
  height: 3rem;
}

/*menu pages*/
.menu__header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.7rem;
}
.menu__header--logo {
  width: 80%;
  text-align: center;
}

.menu__image {
  width: 100%;
  height: 35rem;
  object-fit: cover;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e6e6e6;
  box-shadow: 0px 0px 6px #464646;
  font-size: 1.5rem;
}

.visiter {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  background-color: #f0f0f0;
  height: 17rem;
}
.visiter__title {
  text-align: center;
}
.visiter__description {
  text-align: center;
  font-size: 1.2rem;
  padding: 0.6rem;
}

.container {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  align-items: flex-start;
  background-color: #f0f0f0;
}
.container__title {
  padding-left: 4rem;
  margin-left: 8rem;
}
.container__resto {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-around;
  width: auto;
  height: auto;
  padding: 20px 60px;
}
.container__resto--content {
  padding: 25px 25px;
}
@media screen and (max-device-width: 760px) {
  .container__title {
    margin-left: 0rem;
  }
  .container__resto {
    flex-flow: column wrap;
    justify-content: center;
    width: auto;
    padding: 0;
  }
  .container__resto--content {
    padding: 25px 12px;
    width: 23rem;
  }
}

.resto {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  border-radius: 2rem 2rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #f1f1f1;
}
.resto__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
}
.resto__image {
  width: 550px;
  height: 150px;
  border-radius: 2rem 2rem 0 0;
  object-fit: cover;
}
.resto__image--new {
  background-color: #a3f0dd;
  color: #206152;
  padding: 0.6rem;
  border-radius: 0.2rem;
  position: absolute;
  top: 0.6rem;
  right: 1rem;
  font-weight: bolder;
}
.resto__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: auto;
}
.resto__info--name, .resto__info--area {
  padding-left: 15px;
  margin: 0.5rem 0 0 1rem;
}
@media screen and (max-device-width: 760px) {
  .resto {
    width: auto;
  }
  .resto__label {
    justify-content: flex-start;
  }
  .resto__image {
    width: 21.5rem;
    height: 8rem;
  }
  .resto__info {
    width: 195px;
    margin: 10px 0px;
  }
  .resto__info--name, .resto__info--area {
    padding-left: 15px;
    margin: 0.5rem 0 0 1rem;
  }
}

.menu-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.menu-container__contents {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 3.5rem 3.5rem 0 0;
  margin-top: -3rem;
  background-color: #f0f0f0;
}

.menu-header {
  width: 100%;
}
.menu-header__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  justify-content: space-evenly;
  border: 1px solid blue;
  width: auto;
  position: relative;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  flex-flow: row nowrap;
  border: 1px solid red;
}
.menu__card {
  border: 1px solid green;
  width: 100%;
}
.menu__card--options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: last baseline;
  border: 1px solid orange;
  border-radius: 2rem 2rem;
}

.option__infos {
  width: 26rem;
}
.option__infos--title, .option__infos--description {
  padding: 0.2rem 0.5rem 0.2rem 0.7rem;
  margin: 0.5rem;
}

.service__container {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}
.service__container--title {
  padding-left: 2rem;
}

.services {
  display: flex;
  justify-content: center;
}
.services__option {
  list-style-type: none;
  width: 20rem;
  height: 5rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  background-color: #f0f0f0;
  border-radius: 1.5rem 1.5rem;
  margin: 20px;
  display: flex;
  align-items: center;
}
.services__option--num {
  width: 30px;
  border-radius: 50%;
  font-size: 1.5rem;
  text-align: center;
  transform: translateX(-15px);
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
}
.services__option--icon {
  font-size: 1.2rem;
}
.services__option--name {
  padding-left: 20px;
}
@media screen and (max-device-width: 760px) {
  .services {
    flex-flow: column wrap;
    width: auto;
    padding: 0;
    margin: 0;
  }
  .services__option {
    width: 17rem;
  }
}

.footer {
  display: flex;
  flex-flow: column wrap;
  background-color: #464646;
  color: #f1f1f1;
}
.footer__title {
  text-align: left;
  padding-left: 10rem;
}
.footer__list {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  padding-bottom: 2rem;
}
.footer__list--link {
  font-size: 1.2rem;
  list-style-type: none;
  padding: 0.2rem;
}
.footer__deco {
  text-decoration: none;
  padding-left: 0.5rem;
}
@media screen and (max-device-width: 760px) {
  .footer__title {
    text-align: left;
    padding-left: 1rem;
  }
  .footer__list {
    flex-flow: column wrap;
    padding: 10px 10px;
  }
}

*, ::before, ::after {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

body {
  position: relative;
  color: black;
  width: 100%;
}
@media screen and (max-device-width: 760px) {
  body {
    margin: 0;
    position: relative;
  }
}

.animation {
  width: 100px;
  height: 100px;
  border: 10px solid #CCCCCC;
  border-top: 10px solid #9356DC;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: spin 1.2s linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeout 2s forwards;
  animation-delay: 0.8s;
}

@keyframes fadeout {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

/*# sourceMappingURL=style.css.map */
