.button{
    width: 19rem;
    @include button-color;
    @include shadow;
    @extend %button;
    &:hover{
        @include shadow-hover;
        @extend %button-hover;
    }
}
.heart-icon{
    position: relative;
    cursor: pointer;
    @include flex-center;
    border: none;
    transition-duration: .25s;
    &__unlike, &__like{
        @include heart-color;
      /*transform: translateX(0rem);*/
    }
    &__like{
        opacity: 0; 
        transform: translateX(-2.39rem);
        &:hover{
            animation: like-heart 1200ms cubic-bezier(0, 0, 0, 1) forwards;
           /* transition: all 0.5s ease;*/
        } 
    }
} 
 /*menu page button*/  
.commander{
    padding: 2rem;
    &__button{
        width: 12rem;
        @include button-color;
        @include shadow;
        @extend %button;
        &:hover{
            @include shadow-hover;
            @extend %button-hover;
        }
    }
}