.button{
    width: 19rem;
    @include button-color;
    @include shadow;
    @extend %button;
    &:hover{
        @include shadow-hover;
        @extend %button-hover;
    }
}
.heart-icon{
    /*position: relative;
    cursor: pointer;
    @include flex-center;
    border: none;
    transition-duration: .25s;*/
    
    background-color: transparent;
    border: 0 solid transparent;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
   
    &::before {
        opacity: 0;
        transition: .5s;
        content: "";
        background: linear-gradient(0deg,#9356dc,#ff79da);
    }
   
    &__unlike, &__like{
        opacity:1; 
        @include heart-color;
      /*  transform: translateX(0rem);*/
    }
    &__like{
        
        opacity: 0; 
       transform: translateX(-2.39rem);
       &:hover{

            animation: like-heart 1000ms cubic-bezier(0, 0, 0, 1) both;
            animation: like-heart 1200ms cubic-bezier(0, 0, 0, 1) forwards;
           /* transition: all 0.5s ease;*/

        } 
    }
}    

 /*menu page button*/  
.commander{
    padding: 2rem;
    &__button{
        width: 13rem;
        @include button-color;
        @include shadow;
        @extend %button;
        &:hover{
            @include shadow-hover;
            @extend %button-hover;
        }
    }
}