.button{
    width: 19rem;
    height: 4rem;
    padding: 1rem;
    @include button-color;
    @include shadow;
    @extend %button;
    &:hover{
        @include shadow-hover;
        @extend %button-hover;
    }
}
.heart-icon{
    cursor: pointer;
    position: relative;
    margin-right: 1.6rem;
    font-weight: bolder;
    width: 3rem;
    border: none;
    text-align: center;
    color: white;
    font-size: map-get($icon-font-size , "heart-icon");
    -webkit-text-stroke: 2px black;
    transition: all 500ms;
    -webkit-transition: all 500ms;
    &__unlike{
        opacity: 0;
    }
    &__like{
        opacity: 1; 
        transform: translateX(-2.39rem);
    }   
    &:hover {
        -webkit-text-stroke: 2px transparent;
        background: linear-gradient(to bottom right, $secondary-color, $primary-color);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }    
}
 /*menu page button*/  
.commander{
    padding: 2rem;
    &__button{
        width: 13rem;
        @include button-color;
        @include shadow;
        @extend %button;
        &:hover{
            @include shadow-hover;
            @extend %button-hover;
        }
    }
}