
body{
    font-family: $font-text;
    margin: 0;
    font-size: 1.2rem;
    @include for-mobile{
        margin: 0;
        font-size: .98rem;
    }        
}

.footer{
    &__title{
    font-family: $font-title, cursive;
    color: $white-color;
    }
    &__deco{
        color: $white-color;
        font-weight: bolder;
    }
}