
body{
    font-family: $font-text;
    margin: 0;
    font-size: 1.2rem;
    @include for-mobile{
        margin: 0;
        font-size: .98rem;
    }        
}

.menu-header{
    &__container{
        &--title{
            font-family: $font-title, cursive;
            font-size: 1.6rem;
            font-weight: bolder;
        }    
    }
}

.footer{
    &__title{
    font-family: $font-title, cursive;
    color: $white-color;
    font-size: 2rem;
    font-weight: normal;
    }
    &__deco{
        color: $white-color;
        font-weight: bolder;
        font-size: 1.4rem;
        @include for-tablet{
            font-size: 1.2rem;
        }
    }
}    