@mixin animation-loader {
    animation:fadeout 2s forwards;
    animation-delay: 0.8s;
}

@mixin animation-rotate {
    animation: spin 1.2s linear;
}

@mixin menu-card-animation {
    animation: slideup 900ms cubic-bezier(.26,.76,.71,.49) forwards .2s;
    opacity: 0;
}

