@mixin animation-loader {
    animation:fadeout 2s forwards;
    animation-delay: 0.8s;
}

@mixin animation-rotate {
    animation: spin 1.2s linear;
}

@mixin menu-card-animation {
    animation: slideup 1300ms cubic-bezier(0,0,0,1) forwards .4s;
    opacity: 0;
}

.menu-anim{
    position: relative;
    animation: slideoutup 900ms cubic-bezier(0,0,0,1) forwards;
}

