a{
    cursor: pointer;
    text-decoration: none;
    color: $font-color;
}

hr{
    height: .3rem;
    width: 3rem;
    margin: 0;
    background: $teritary-color;
    border: none;
    position: relative;
    top: -0.9rem;
}

%image-new-sticker{
    position: absolute;
    background-color: #a3f0dd;
    color: #206152;
    padding: 0.6rem;
    border-radius: .2rem;
    top: .6rem;
    right: 1rem;
    font-weight: bolder;
}

%text-wrap-point{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

%button{
    height: 3.5rem;
    border-radius: 2rem;
    text-align: center;
    padding: 0.8rem;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    color: $white-color;
    cursor: pointer;
    transition-duration: .25s;
}

%button-hover{
    background-color: lighten($primary-color, 5%);
    background-blend-mode: darken;
}