$primary-color:#9356DC;
$secondary-color:#FF79DA;
$teritary-color:#99E2D0;
$white-color: #FFFFFF;
$dark-gray: rgb(70, 70, 70);
$light-gray:rgba(240, 240, 240);
$font-color:rgba(0, 0, 0);
$loader-color:-webkit-linear-gradient($secondary-color, $primary-color);

/*font family*/
$font-title: 'Shrikhand', sans-serif;
$font-text: 'Roboto', sans-serif;

/*maps for icons*/
$icon-font-size:(
    "location-icon":1.5rem,
    "number-icon":1.5rem,
    "nav-icon":1.2rem,
    "heart-icon":2.2rem,
    "arrow-icon":1.7rem,
    "check-icon":1.7rem,
    "footer-icon":1.2rem
);
$text-font-size:(
    "nav-option-name":1.4rem,
    "nav-option-name-mobile":1.1rem,
    "container-title":1.6rem,
    "restaurant-name-mobile":1.23rem,
    "menu-header-title":2rem,
    "menu-header-title-mobile":1.7rem,
    "menu-option-name":1.3rem,
    "menu-option-name-mobile":1.1rem
);

/*media resposive*/
$breakpoints: (
    small-screen-mobile: 340px,
    mobile: 767px,
    tablet: 1025px
);