$primary-color:#9356DC;
$secondary-color:#FF79DA;
$teritary-color:#99E2D0;
$white-color: #f1f1f1;
$dark-gray: rgb(70, 70, 70);
$light-gray:rgba(240, 240, 240);
$font-color:rgba(0, 0, 0);

/*font family*/
$font-title: 'Shrikhand', sans-serif;
$font-text: 'Roberto', sans-serif;

a{
    cursor: pointer;
    text-decoration: none;
    color: $font-color;
}

/*media resposive*/
$breakpoints: (
    mobile: 768px,
    tablet: 1024px,
    desktop: 1280px
)
