.footer{
    display: flex;
    flex-flow: column wrap;
    @include footer-bg-color;
    
    &__title{
        text-align: left;
        padding-left: 10rem;
    }
    &__list{
        display: flex;
        width: 80%;
        justify-content: space-evenly;
        padding-bottom: 2rem;
        &--link{
            font-size: map-get($icon-font-size , "footer-icon");
            list-style-type: none;
            padding: .2rem;
        }
    }
    &__deco{
        
        text-decoration: none;
        padding-left: .5rem;
    }
    @media screen and (max-device-width:760px)
    {
        &__title{
        text-align: left;
        padding-left: 1rem;
        }
        &__list{
        flex-flow: column wrap; 
        padding: 10px 10px;
        
        }
    }    
}