.footer{
    display: flex;
    flex-flow: column wrap;
    padding-top: 2rem;
    @include footer-bg-color;
    &__title{
        text-align: left;
        padding-left: 10rem;
    }
    &__list{
        display: flex;
        width: 80%;
        justify-content: space-evenly;
        padding-bottom: 2rem;
        padding-left: 8rem;
        &--link{
            font-size: map-get($icon-font-size , "footer-icon");
            list-style-type: none;
            padding: .2rem;
            &:hover{
                text-decoration: underline;
            }
            @include for-mobile{
                padding-bottom: 10px;
            }
        }
    }
    &__deco{
        
        text-decoration: none;
        padding-left: .5rem;
    }
    @include for-mobile{
        &__title{
            padding-left: 10px;
            margin: .5rem .5rem;
        }
        &__list{
            width: 100%;
            flex-flow: column wrap; 
            padding: 0 10px 10px 10px;
        }
    }  
    @include for-tablet{
        &__title{
            text-align: left;
            padding-left: 1rem;
        }
        &__list{
            width: 100%;
            justify-content: space-around;
            padding: 0;
            padding-bottom: 1rem;
        }
    }        
}