.service__container{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    &--title{
        padding-left: 2rem;
    }
}
.services{
        display: flex;
        justify-content: center;
        &__option{
            list-style-type: none;
            width:20rem;
            height: 5rem;
            @include shadow;
            @include bg-color;
            border-radius: 1.5rem 1.5rem;
            margin: 20px;
            @include flex-center;
            &--num{
                width: 30px;
                border-radius: 50%;
                font-size: map-get($icon-font-size , "number-icon");
                text-align: center;
                transform: translateX(-15px);
                @include button-color;
            }
            &--icon{
                font-size: map-get($icon-font-size , "nav-icon");
            }
            &--name{
                padding-left: 20px;
            }

        }
        @media screen and (max-device-width:760px)
        {
            flex-flow: column wrap;
            width:auto;
            padding: 0;
            margin: 0;
            &__option{
                width:17rem;
            }    
        }
    }






