.service__container{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    padding-top: 2rem;
    &--title{
        padding-left: 2rem;
    }
}
.services{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    &__option{
        list-style-type: none;
        width:22rem;
        height: 5rem;
        border-radius: 1.5rem 1.5rem;
        margin: 20px;
        @include shadow;
        @include bg-color;
        @include flex-center;
        justify-content: flex-start;
        &--num{
            width: 30px;
            border-radius: 50%;
            font-size: map-get($icon-font-size , "number-icon");
            color: $white-color;
            text-align: center;
            transform: translateX(-15px);
            background-color:lighten($primary-color,5%);
        }
        &--icon{
            font-size: map-get($icon-font-size , "nav-icon");
            color: lighten($dark-gray, 15%);
            font-weight: bolder;
        }
        &--name{
            padding-left: 20px;
            font-size: map-get($text-font-size , "nav-option-name");
            font-weight: bold;
        }
        &:hover {
            background-color: lighten($primary-color, 33%);
            .fas {
                color: $primary-color;
            }
        }    
    }
    @include for-mobile{
        flex-flow: column wrap;
        width:auto;
        padding: 0;
        &__option{
            width:18rem;
            &--name{
                font-size: map-get($text-font-size , "nav-option-name-mobile");
            }
        }    
    }
    @include for-tablet{
        flex-flow: column wrap;
        width:auto;
        padding: 0;
        &__option{
            width:25rem;
        }    
    }    
}