.location{
    @include flex-center;
    justify-content: center;
    background-color:darken($color: #f3f3f3, $amount: 5);
    @include header-shadow;
    font-size: map-get($icon-font-size , "location-icon");
    padding-left: 4rem;
    &__search{
        border: none;
        width: 16rem;
        height: 3rem;
        background: transparent;
        padding: 1rem;
        font-size: 1.5rem;
    }
   /* @include for-mobile{
        padding-left: 0rem;
    }*/
}

.visiter{
    @include flex-center;
    justify-content: flex-start;
    flex-flow: column wrap;
    @include bg-color;
    height: 20rem;
    &__title{
        text-align: center;
        font-size: 1.7rem;
    }
    &__description{
        text-align: center;
        font-size: 1.3rem;
        padding: 0.6rem;
    }
}

.container{
    @include flex-center;
    flex-flow: column wrap;
    align-items: flex-start;
    @include bg-color;
    padding-bottom: 3rem;
    padding-top: 2rem;
    &__title{
        padding-left: 4rem;
        margin-left: 8rem;
        
    }
    &__resto{
        @include flex-center;
        flex-flow: row wrap;
        justify-content: space-around;
        width: auto;
        height: auto;
        padding: 20px 60px;
        
        &--content{
            padding: 25px 25px;
        }
    }
    
    @include for-mobile{
        &__title{
            font-size: map-get($text-font-size , "container-title"); 
            margin-left: 0rem;
        }
        &__resto{
            flex-flow: column wrap;
            justify-content: center;
            width:auto;
            padding: 0;
            margin: auto;
            &--content{
                padding: 25px 12px;
                width: 23rem;
            }   
        }    
    }
    
}

.resto{
    position: relative;
    max-width:100%;
    max-height: 100%;
    border-radius: 2rem 2rem;
    @include shadow;
    cursor: pointer;
    background-color: $white-color;
    &__label{
        @include flex-between;
        padding-bottom: 1rem;
        background-color: $white-color;
        border-radius: 0 0 2rem 2rem;
        height: 5rem;
    }
    &__image{
        width: 550px;
        height: 200px;
        border-radius: 2rem 2rem 0 0;
        object-fit: cover;
        &--new{
            @extend %image-new-sticker;
        }
        
    }
    &__info{
        @include flex-between;
        align-items: flex-start;
        flex-direction: column;
        height: auto;
        &--name , &--area{
            margin: .5rem 0 0 1rem;
        }
        &--area{
            margin-left: 1rem; 
            font-weight: 300; 
        }
        
    }
    @include for-mobile{
        width: auto;
        height: auto;
        &__image{
            width: 21.5rem;
            height: 12rem;    
        }
        &__info{
            width: 195px;
            margin: 10px 0px;
            &--name{
                font-size: map-get($text-font-size , "restaurant-name");
            }
            &--name , &--area{
                padding-left: 15px;
                
            }
            
        }
    }
    @include for-small-screen-mobile{
        width: 18.5rem;
        &__image{
            width: 18.5rem;
            height: 8rem;    
        }  
        &__label{
            height: 4rem;
        }
    }
}  