.location{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:darken($color: #f3f3f3, $amount: 5);
    box-shadow: .25rem .25rem 20px #aaa3a3;
    font-size: 1.5rem;
}

.visiter{
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    &__title{
        text-align: center;
    }
}




.container{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    padding: 20px 40px;
    &__title{
        padding-left: 4rem;
    }
    &__resto{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-around;
        width: auto;
        height: auto;
        padding: 20px 60px;
        &--content{
            padding: 25px 25px;
        }
        @media screen and (max-device-width:760px)
        {
            flex-flow: column wrap;
            justify-content: center;
            width:auto;
            padding: 0;
        }
    }
    
}

.resto{
    position: relative;
    max-width:auto;
    max-height: auto;
    border-radius: 2rem 2rem;
    box-shadow: .25rem .25rem 10px rgb(95, 95, 95);
    cursor: pointer;
    width: 550px;
    &__label{
        display: flex;
        justify-content: space-between;
    }
    &__image{
        width: 550px;
        height: 150px;
        border-radius: 2rem 2rem 0 0;
        object-fit: cover;
        
    }
    &__info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        &--name , &--area{
            padding-left: 15px;
            margin: .5rem 0 0 1rem;
        }
        
    }
    @media screen and (max-device-width:760px)
    {
        width: auto;
        &__label{
            justify-content: flex-start;
        }
        &__image{
            width: 21rem;
            height: 8rem;    
            
        }
        &__info{
            width: 186px;
            margin: 5px;
            &--name , &--area{
                padding-left: 15px;
                margin: .5rem 0 0 1rem;
            }
            
        }
    }
    
}   


    





